body {
    font-family: Arial, sans-serif;
    background-color: plum;
    margin: 0;
    padding: 0;
}
.form-title {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
    width: 53%;
    font-size: 25px;
    margin-bottom: 10px;
   justify-content: center;
   margin-left: 340px;
   box-shadow: 0px 0px 10px rgba(249, 93, 254, 0.5);
}
.form-container {
    max-width: 810px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.form-column {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 10px;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group input[type="radio"] {
    margin-right: 5px;
}
.form-group label.radio-label {
    margin-right: 20px;
}
.button-container {
    text-align: center;
    padding-top: 20px;
}
.button {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.submit-button {
    background-color: #28a745;
}
.clear-button {
    background-color: #dc3545;
}